@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #036c86;
  border-radius: 10px;
}

html,
body {
  margin: 0;
  background-color: #f7f7f7;
}
