.loginForm {
  max-width: 80%;
  margin: 20px auto;
}

.loginFormForgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.loginFormButton {
  width: 100%;
}

.inputForm {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #15b2c0;
  box-shadow: none;
  margin: 1rem 0;
}
